<nav>
  <ul>
    <% if (user) { %>
      <li>
        <img src="/upload-profilephoto/<%= user.profilephoto %>" alt="">
      </li>
      <li>
        <a href="/user/<%= user.username %>"><%= user.username %></a>
      </li>
      <li>
        <a href=/user/log-out>Log out</a>
      </li>
    <% } else { %>
      <li><a href="/user/log-in">Login</a></li>
      <li><a href="/user/sign-up">Register</a></li>
    <% } %>
  </ul>
</nav>
