* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Circular,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222326;
  background-color: #fff;
  padding-top: 3rem;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  top: 0;
  background-color: rgba(30,215,96,1);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  z-index: 1000;
  justify-content: flex-end;
}
nav img {
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 100%;
}
nav ul {
  margin: 0 1rem;
}
nav li {
  display: inline-block;
  border: none;
  padding: .5rem;
  margin-left: -.35rem;
  transition: .25s;
  vertical-align: middle;
  min-height: 100%;
}
nav li:hover {
  background-color: rgba(30,215,96,.5);
}
nav a {
  color: black;
  border: none;
  font-size: 1.25rem;
}

main {
  width: 100%;
  overflow: hidden;
  padding: 0 3rem;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
}
.page_header {
  font-size: 82px;
  color: black;
  margin: 2.5rem 3rem 0rem 3rem;
  font-weight: bold;
  line-height: 80%;
  letter-spacing: -5px;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1;
  border-bottom: 7px solid rgba(29,185,84,1);
  padding-bottom: 1rem;
}
.music_info_header {
  font-size: 20;
  font-weight: 900;
  letter-spacing: -.02em;
  line-height: 1.2;
  margin: .5em 0 .25em;
  color: inherit;
}
.music_info {
  margin: 1rem 0;
  width: 100%;
  display: block;
  padding: 1.5rem;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
  border-bottom: 7.5px solid rgba(30,215,96,0);
  transition: .35s;
  border-radius: 10px;
}
.music_info:hover {
  border-bottom: 7.5px solid rgba(30,215,96,1);
  background-color: rgba(30,215,96,.25);
  transform: scale(1.02);
}

.music_info_link {
  font-size: 24px;
  color: black;
  font-weight: 800;
  letter-spacing: -.02em;
  line-height: 1.2;
  display: block;
}
.music_info_label {
  font-size: 42px;
  color: black;
  font-weight: 500;
  letter-spacing: -.02em;
  line-height: 1.2;
  display: block;
}
.primaryButton {
  color: black;
  background-color: rgba(30,215,96,1);
  line-height: 1;
  border-radius: 500px;
  padding: 18px 48px 16px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border-width: 0;
  min-width: 160px;
  margin: .75rem;
  text-align: center;
  display: block;
  transition: .35s;
}
.primaryButton:hover {
  transform: scale(1.02);
}
.removeButton {
  background-color: #ff4747;
}
.removeButton:hover {
  background-color: red;
}
form {
  width: 50%;
}
form label {
  font-size: 1.25rem
}
form label,
form input {
  width: 100%;
  line-height: 2rem;
  border-radius: 5px;
  border: none;
  font-size: 1.25rem;
}
form input[type="text"],
form input[type="file"],
form input[type="password"],
form input[type="date"] {
  margin-bottom: .75rem;
  padding: .5rem 2rem;
}

form input[type="text"],
form input[type="password"],
form input[type="date"] {
  box-shadow: inset 2.5px 2.5px 9px 2px rgba(0,0,0,0.21);
}

form fieldset {
  padding: 40px 0;
  border: none;
  border-bottom: 7px solid rgba(29,185,84,.5);
}
form fieldset:last-of-type {
  margin-bottom: 60px;
  border: none;
}

img {
  max-width: 100%;
  max-height: 15em
}
