<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
  <title>Music library</title>
  <% include partials/nav.ejs%>
  <header class="page_header">Music of everybody</header>
  <main>
  <% if (data.length !== 0) { %>
    <% for (var index = 0; index < data.length; index++) { %>
      <section class="music_info">
        <a class="music_info_link" href="/music/<%= data[index]._id %>">
          <%= data[index].songTitle %>
        </a>
        <p><%= data[index].songArtist %></p>
      </section>
    <% } %>
  <% } else { %>
    <p>Empty list</p>
  <% } %>
  <% if (user) { %>
    <a id="add_button" class="primaryButton" href="/music/add-song">Add a song</a>
  <% } %>
  </main>
  <% include partials/tail.ejs%>
</body>
</html>
