<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
  <title>Your music library</title>
  <% include partials/nav.ejs%>
  <header class="page_header">All your music</header>
  <main>
  <% for (var index = 0; index < data.length; index++) { %>
    <section class="music_info">
      <a class="music_info_link" href="/<%= data[index]._id %>">
        <%= data[index].songTitle %>
      </a>
      <p><%= data[index].songArtist %></p>
    </section>
  <% } %>
  <a id="add_button" class="primaryButton" href="/add-song">Add a song</a>
  </main>
  <% include partials/tail.ejs%>
</body>
</html>
